.generated-text-widget {
  position: relative;
  label {
    display: none;
  }
  textarea {
    background-color: #f3f3f3;
  }
  .generated-text-button-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
